In [1]:
library(plyr)

In [2]:
session_occurrence_data <- read.table("../../python_analysis_scripts/data_edit_analyses/r_and_r/session_data_no_nulls.tsv", header=TRUE, sep="\t")

In [3]:
summary(session_occurrence_data)

      user             start                end                index
 Min.   :      0   Min.   :2.004e+13   Min.   :2.004e+13   Min.   :   0.0
 1st Qu.:  45583   1st Qu.:2.014e+13   1st Qu.:2.014e+13   1st Qu.:  45.0
 Median : 150272   Median :2.015e+13   Median :2.015e+13   Median : 202.0
 Mean   : 473468   Mean   :2.015e+13   Mean   :2.015e+13   Mean   : 493.1
 3rd Qu.: 456868   3rd Qu.:2.016e+13   3rd Qu.:2.016e+13   3rd Qu.: 620.0
 Max.   :2824759   Max.   :2.017e+13   Max.   :2.017e+13   Max.   :8914.0
     events
 Min.   :      1
 1st Qu.:      1
 Median :      2
 Mean   :     95
 3rd Qu.:      4
 Max.   :5921330

In [4]:
head(session_occurrence_data)

  user start        end          index events
1 0    2.004072e+13 2.004072e+13 0     1
2 0    2.004073e+13 2.004073e+13 1     1
3 0    2.004073e+13 2.004073e+13 2     2
4 0    2.004073e+13 2.004073e+13 3     3
5 0    2.004073e+13 2.004073e+13 4     7
6 0    2.004073e+13 2.004073e+13 5     6

In [5]:
summary(session_occurrence_data$user)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
      0   45580  150300  473500  456900 2825000

In [6]:
summary(count(session_occurrence_data$user)$freq)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1.00    1.00    1.00   28.17    4.00 8915.00