In [4]:
library(dplyr)

In [5]:
library(jsonlite)

In [6]:
latest_revision_id_and_page_views <- jsonlite::stream_in(file("../results/ores_page_quality_formatted.json"))

opening file input connection.

 Imported 1e+05 records. Simplifying...

closing file input connection.

In [7]:
head(latest_revision_id_and_page_views)

  ordinal_score page_namespace score entity_id page_views rev_id
1 1             0              E     Q13002753    1        38217219
2 1             0              E     Q803233   1108       296711513
3 3             0              C     Q3695796     5       468951768
4 1             0              E     Q16077220   48       204774656
5 1             0              E     Q24209288    0       505526802
6 3             0              C     Q5199102   100       478999348

In [12]:
cor(latest_revision_id_and_page_views$page_views,latest_revision_id_and_page_views$ordinal_score, method="spearman")

[1] 0.1425028

In [13]:
latest_revision_id_and_page_views_model <- lm(latest_revision_id_and_page_views$page_views ~ latest_revision_id_and_page_views$score)

In [14]:
summary(latest_revision_id_and_page_views_model)

Call:
lm(formula = latest_revision_id_and_page_views$page_views ~ latest_revision_id_and_page_views$score)

Residuals:
       Min         1Q     Median         3Q        Max
  -3576966      -6986      -2504      -2316 2037824717

Coefficients:
                                         Estimate Std. Error t value Pr(>|t|)
(Intercept)                               5030610    3226029   1.559    0.119
latest_revision_id_and_page_views$scoreB -4945284    3228344  -1.532    0.126
latest_revision_id_and_page_views$scoreC -4892041    3226376  -1.516    0.129
latest_revision_id_and_page_views$scoreD -5023620    3226299  -1.557    0.119
latest_revision_id_and_page_views$scoreE -5028102    3226147  -1.559    0.119

Residual standard error: 6452000 on 99995 degrees of freedom
Multiple R-squared:  9.174e-05,	Adjusted R-squared:  5.174e-05
F-statistic: 2.294 on 4 and 99995 DF,  p-value: 0.05689

## Class A Items with Least Pages Views

In [18]:
class_a_latest_revision_id_and_page_views <- filter(latest_revision_id_and_page_views, score=="A")

In [19]:
sorted_ascend_class_a_latest_revision_id_and_page_views <- dplyr::arrange(class_a_latest_revision_id_and_page_views, page_views)

In [24]:
head(sorted_ascend_class_a_latest_revision_id_and_page_views, n=10)

  ordinal_score page_namespace score entity_id page_views rev_id
1 5             0              A     Q5413      1453644   501526168
2 5             0              A     Q110053    1501127   503580490
3 5             0              A     Q1352      2927200   503653606
4 5             0              A     Q9960     14240469   506814477

## Class E Items with Most Pages Views

In [20]:
class_e_latest_revision_id_and_page_views <- filter(latest_revision_id_and_page_views, score=="E")

In [21]:
sorted_desc_class_e_latest_revision_id_and_page_views <- dplyr::arrange(class_e_latest_revision_id_and_page_views, desc(page_views))

In [25]:
head(sorted_desc_class_e_latest_revision_id_and_page_views, n=10)

   ordinal_score page_namespace score entity_id page_views rev_id
1  1             0              E     Q15619164 6375293    501158407
2  1             0              E     Q28941050 1967477    503007128
3  1             0              E     Q20267072 1885813    474937898
4  1             0              E     Q6631527  1064195    496781292
5  1             0              E     Q3505519   852974     99534420
6  1             0              E     Q21704656  784381    282449952
7  1             0              E     Q24533253  770739    346076195
8  1             0              E     Q626217    696122    466364425
9  1             0              E     Q519       661875    473099278
10 1             0              E     Q9418169   634646    443858630

In [26]:
nrow(class_e_latest_revision_id_and_page_views)

[1] 54663

In [27]:
nrow(filter(latest_revision_id_and_page_views, score=="D"))

[1] 23916

In [28]:
nrow(filter(latest_revision_id_and_page_views, score=="C"))

[1] 18631

In [29]:
nrow(filter(latest_revision_id_and_page_views, score=="B"))

[1] 2786